src/main/mule/exp-orange-app-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="exp-orange-app-api-main" doc:id="ffc74557-3958-48fb-b3a6-b9396f986dfb">
        <http:listener config-ref="exp-orange-app-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Set correlationId and appName Variable" doc:id="89c359b0-ed94-4ca9-af37-feb098420d12">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
---
correlationId]]></ee:set-variable>
				<ee:set-variable variableName="appName"><![CDATA[%dw 2.0
output application/java
---
Mule::p("app.name")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="exp-orange-app-api-config" />
    </flow>
    <!-- <flow name="exp-orange-app-api-console">
        <http:listener config-ref="exp-orange-app-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="exp-orange-app-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow> -->
    <flow name="get:\sales\(transactionId):exp-orange-app-api-config" doc:id="569398bf-54d1-4ff0-bcc9-07fb080f3a52">
		<ee:transform doc:name="Set transactionId Variable" doc:id="a87419cc-65b7-4214-b55b-37a2f1735dac" >
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start of Retrieve Sales Details Flow" doc:id="4a350377-b9a6-410b-b5bf-a7e3c5d73b6e" message='#[output application/json&#10;---&#10;{&#10;	message: "Start of Retrieve Sales Details Flow",&#10;	correlationId: vars.correlationId,&#10;	appName: vars.appName,&#10;	data: {&#10;		transactionId: vars.transactionId&#10;	}&#10;}]' />
		<flow-ref doc:name="get-sales-sub-flow" doc:id="7beeb162-4475-4eba-8c9d-37dd95d94cf4" name="get-sales-sub-flow" />
		<logger level="INFO" doc:name="End of Retrieve Sales Details Flow" doc:id="134e212b-ce56-405b-aea4-563e61a42b01" message='#[output application/json&#10;---&#10;{&#10;	message: "End of Retrieve Sales Details Flow",&#10;	correlationId: vars.correlationId,&#10;	appName: vars.appName,&#10;	data: {&#10;		transactionId: vars.transactionId&#10;	}&#10;}]' />
    </flow>
    <flow name="post:\sales:application\json:exp-orange-app-api-config" doc:id="0a52b07a-7f68-4ac1-8fe0-aa2816f3d1df">
		<ee:transform doc:name="Set transactionId and requestPayload Variables" doc:id="6944e17d-3134-43f4-8202-eac1fd195228" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
payload.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start of Create Sales Flow" doc:id="41983511-4541-4da8-868f-8a188c479af7" message='#[output application/json&#10;---&#10;{&#10;	message: "Start of Create Sales Flow",&#10;	correlationId: vars.correlationId,&#10;	appName: vars.appName,&#10;	data: {&#10;		transactionId: vars.transactionId&#10;	}&#10;}]' />
		<flow-ref doc:name="post-sales-sub-flow" doc:id="dcf30f08-9f95-4a6b-b9e7-3c1c021f65e3" name="post-sales-sub-flow" />
		<logger level="INFO" doc:name="End of Create Sales Flow" doc:id="6907af84-e72c-435c-bcfb-405d512647da" message='#[output application/json&#10;---&#10;{&#10;	message: "End of Create Sales Flow",&#10;	correlationId: vars.correlationId,&#10;	appName: vars.appName,&#10;	data: {&#10;		transactionId: vars.transactionId&#10;	}&#10;}]' />
    </flow>
</mule>
